<!DOCTYPE html>
<html lang="en">

<%- include('./ReusableComponents/BootstrapCDN.ejs') %>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include('./ReusableComponents/navbar.ejs',{ activePage : page, email: emailTo }) %>
  </body>
</html>
