<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knuth</title>
    <link rel="stylesheet" href="/Styles/Knuth.css">
</head>
<body>
    <button class="google-button" id="googleButton">
        <img class="google-icon" src="https://www.gstatic.com/images/icons/gplus-64.png" alt="Google Icon">
        Continue with Google
    </button>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    
    const googleButton = document.getElementById("googleButton");
    googleButton.addEventListener("click", () => {
        window.location.href = "/auth/google";
    });
    
    axios.get("/ping").then((res) => {
        console.log(res.data);
    });
</script>