
 <!-- Transparent Circular Info Button -->
 <button type="button" class="btn btn-circle position-fixed" style="bottom: 20px; right: 20px;" data-toggle="modal" data-target="#AnnouncementinfoModal">❤</button>

 <div class="modal fade" id="AnnouncementinfoModal" tabindex="-1" role="dialog" aria-labelledby="AnnouncementinfoModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="infoModalLabel">Information</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <!-- Place your information content here -->
                 <p>Made with ❤ by <a href="https://www.linkedin.com/in/saksham-sahgal-aaa23b164/" class="me-2" target="_blank"> Saksham Sahgal </a></p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
</div>