<div class="loadOverlayContainer" id="loadOverlay" hidden> 
    <!-- You can customize the spinner size and color -->
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>